*{
    margin: 0;
    padding: 0;


}
.background__image{
    background-image: url(../image/背景图（可用于成就、存档等页面）/1.png);
    width: 1520px;
    height: 765px;

}

.box{
    width: auto;
    
}
.cun{
    width: 150px;
    height: 150px;
   position: absolute;
     top: 0;
    border: 3px solid black;
}
.cun img {
    width: 100%;
    height: 100%;

}
.textBox{
         position: absolute;

            top: 350px;
            left: 300px;
            width: 1000px;
            height: 400px;
            opacity: 0.9;

  }

.textBox img {

    width: 100%;
    height: 100%;

}
.mingzi{
    position: absolute;
    top: 550px;
    left: 480px;

}